NEXTAUTH_SECRET=topsecret
NEXTAUTH_URL=http://localhost:3000
 
# --- Start for development
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
# --- End for development

# PostgreSQL database URL 
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

# Use this one for Github Oauth and syncing
# GITHUB_TOKEN=
# GITHUB_ID=
# GITHUB_SECRET=
# GITHUB_ORG=

# Use this one for magic link authentication
# SMTP_USER=mailpit
# SMTP_PASSWORD=topsecret
# SMTP_HOST=0.0.0.0
# SMTP_PORT=1025
# EMAIL_FROM="Sieutoc Team <noreply@example.com>"

EASYPANEL_URL=
EASYPANEL_API_KEY=
